._gRgD {
    position: relative;
    max-width: 2560px;
    margin: auto
}

.HxDB5 {
    position: absolute;
    top: -1000px;
    clip: rect(1px 1px 1px 1px)
}

.QhouN {
    max-width: 2560px;
    margin: auto
}

.aY9tX {
    clear: both;
    width: calc(100% - 60px);
    margin: 40px 30px 0;
    padding-top: 31px;
    text-align: center;
    border-top: 1px solid #f3f3f3
}

.I_Lov {
    margin-bottom: 8px
}

.xv7vr {
    margin: 0 8px;
    text-decoration: none;
    border-bottom: 1px solid #121314
}

.xv7vr:hover {
    color: #666;
    border-bottom: 1px solid #666
}

.xv7vr:hover,
.xv7vr:active,
.xv7vr:focus {
    text-decoration: none;
    outline: none
}

.FWjgd {
    clear: both;
    width: 680px;
    margin: auto;
    padding: 60px 15px 0
}

.Ygav1 {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    cursor: pointer
}

.aZWqJ {
    white-space: normal;
    white-space: initial
}

.YAfp9 {
    position: relative;
    margin: 32px auto auto
}

.Mc82p {
    z-index: 1;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 1.1261% 8px;
    text-align: center
}

.Mc82p:hover,
.Mc82p:active,
.Mc82p:focus {
    text-decoration: none;
    outline: none
}

.LHdAw {
    margin: 0;
    text-transform: uppercase
}

.LHdAw .CzDP9 {
    color: #aaa
}

.LHdAw .CzDP9::before {
    position: relative;
    top: 0;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    color: #121314;
    font-size: 18px;
    content: "·"
}

.U_KeT {
    margin: 8px 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
    cursor: pointer
}

.KD178 {
    overflow: auto;
    white-space: inherit
}

.fzUb0 {
    width: 53%;
    margin: 3px auto 0
}

.XpL4K {
    display: inline-block;
    margin: 16px 16px 0;
    color: #121314;
    font-weight: 300;
    font-size: 13px;
    font-family: "MangoSans", sans-serif;
    line-height: 20px;
    letter-spacing: .3px
}

.XpL4K.vHguD {
    border-bottom: 1px solid #121314
}

.Zfyc7 {
    display: inline-block;
    margin-left: 27px;
    line-height: 18px;
    white-space: nowrap
}

.Zfyc7 .AURIz {
    padding: 0;
    color: #aaa;
    background: 0 0;
    border: 0;
    outline: 0;
    cursor: pointer
}

.Zfyc7 .QpZ4o {
    color: #121314
}

.Zfyc7 .AURIz:hover {
    color: #666
}

.zD3ay {
    margin-right: 6px
}

.naYof {
    margin: 0 4px
}

.columns2 {
    width: calc(70% - 15px) !important
}

.columns2 {
    margin-left: 15%
}

.columns4 {
    width: 100% !important
}

._ct9g {
    position: relative;
    float: left;
    padding-top: 4px
}

.VA3Rw {
    margin-left: 15%
}

.DR8Se {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.Erckd {
    margin-bottom: 16px
}

.XEn40 {
    margin-bottom: 32px
}

.tRkeN {
    float: left;
    width: 100%;
    height: auto;
    overflow: hidden
}

.geGR_ {
    float: left;
    width: 100%;
    height: auto
}

.jfhvq {
    float: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 40px;
    padding-top: 28px;
    padding-right: 10px;
    padding-left: 10px;
    border-top: 1px solid #f3f3f3
}

.pqlGZ {
    display: block;
    text-align: center;
    text-transform: uppercase
}

.iDOiB {
    display: block;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center
}

.LSqil {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.page--hidden img {
    display: none
}

.Sz1UM {
    border: 0
}

.AmRAR {
    color: var(--content-2)
}

.hwlTd {
    padding: 4px 8px;
    overflow: hidden;
    color: #121314;
    font-weight: 400;
    font-size: 12px;
    font-family: "MangoSans", sans-serif;
    line-height: 18px;
    letter-spacing: .3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: rgba(255, 255, 255, .85)
}

.sYIFb {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    transform: translate3d(0, 50px, 0);
    transition: all .25s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.dn0O0 {
    transform: translate3d(0, 0, 0)
}

.sYIFb:focus {
    transform: translate3d(0, 0, 0)
}

.Gfrd5 {
    position: absolute;
    top: -8px;
    left: 8px;
    max-width: calc(100% - 16px);
    transform: translate(0, -100%)
}

.BbLKr::after {
    position: relative;
    top: 3px;
    display: block;
    width: 4px;
    height: 4px;
    margin: 0 auto;
    background: #d14900;
    border-radius: 2px;
    content: ""
}

.IpIBN {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    opacity: .85
}

.cfkFn {
    width: 100%;
    margin-top: 4px;
    text-align: left;
    opacity: 1
}

.aFeBp {
    position: relative;
    z-index: 3;
    text-align: left
}

.aFeBp:hover {
    color: #666;
    cursor: pointer
}

.ldiLO {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

.FD7Gj {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 0;
    line-height: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 16px;
    cursor: pointer;
    opacity: 1
}

.VU6Yh {
    top: 0;
    border: 1px solid #d7d7d8
}

.FD7Gj:hover,
.FD7Gj:active,
.FD7Gj:focus {
    outline: none
}

.CLyxB {
    position: relative;
    top: 1px;
    width: 12px;
    height: 12px;
    line-height: 16px;
    vertical-align: top;
    border-radius: 12px;
    outline: none;
    cursor: pointer
}

.tgXMK {
    width: 100%;
    height: auto
}

.OW0Y_,
.y8pxS {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.OW0Y_ {
    letter-spacing: 1px;
    text-transform: uppercase
}

.ZXN_y {
    position: relative;
    display: flex;
    width: 100%;
    background-color: #f3f3f3
}

.ZXN_y img {
    height: auto !important
}

.columns2 .ZXN_y {
    height: calc((((((100vw) * 70) / 100) / 2) - 0px)/.715)
}

@media(min-width: 2560px) {
    .columns2 .ZXN_y {
        height: calc((((((2560px - 17px) * 70) / 100) / 2) - 0px)/.715)
    }
}

.columns4 .ZXN_y {
    height: calc((((((100vw) * 100) / 100) / 4) - 0px)/.715)
}

@media(min-width: 2560px) {
    .columns4 .ZXN_y {
        height: calc((((((2560px - 17px) * 100) / 100) / 4) - 0px)/.715)
    }
}

.f6L9E {
    width: 100% !important;
    height: 100% !important
}

.f6L9E {
    position: relative;
    transition: opacity .5s cubic-bezier(0.19, 1, 0.22, 1), transform 1.6s cubic-bezier(0.19, 1, 0.22, 1)
}

.GRVWM {
    opacity: 0;
    transition: opacity .5s ease-in
}

.lZ7AB {
    float: left;
    text-align: center
}

.S6QlR .hbZdu {
    transform: translate3d(0, 50px, 0)
}

.S6QlR .Ixion {
    transform: translate3d(0, 0, 0)
}

.S6QlR .swiper-button-next,
.S6QlR .swiper-button-prev {
    opacity: 1
}

.columns2 .lZ7AB {
    padding-left: 2px
}

.columns2 .lZ7AB.Ce_Y3 {
    padding-right: 0;
    padding-left: 0
}

.columns2 .T85hV {
    width: 50%
}

.columns2 .xnaGG {
    width: 100%
}

.columns4 .lZ7AB {
    padding-left: 2px
}

.columns4 .lZ7AB.Ce_Y3 {
    padding-right: 0;
    padding-left: 0
}

.columns4 .T85hV {
    width: 25%
}

.columns4 .xnaGG {
    width: 50%
}

.columns4 .dgpYu {
    width: 75%
}

.KUstY {
    position: relative;
    display: flex;
    overflow: hidden
}

.D4LGE {
    position: relative;
    display: flex;
    width: 100%;
    height: 107px;
    max-height: 131px;
    padding: 14px 8px 54px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    background-color: #fff
}

.K813T {
    display: flex;
    flex-direction: column
}

.K7tX8,
.Uosgx {
    height: 116px
}

.T_UyH {
    color: var(--content-2) !important
}

.T_UyH {
    position: absolute;
    top: 4px;
    right: -8px;
    left: auto;
    left: initial;
    font-size: 20px;
    scale: .85
}

.Xbncm {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    background: #fff;
    transform: translate3d(0, 100%, 0);
    cursor: auto;
    cursor: initial;
    opacity: .9;
    transition: all .25s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.Umt5a {
    transform: translate3d(0, 0, 0)
}

.JFTCC {
    margin-bottom: 12px
}

.qokBe {
    width: 100%;
    height: auto;
    margin-top: 8px;
    padding-right: 20px;
    padding-left: 20px
}

.pMb1l {
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    cursor: pointer
}

.pMb1l:hover,
.pMb1l:active,
.pMb1l:focus {
    background-color: #f3f3f3;
    outline: none
}

.pMb1l:disabled {
    cursor: auto;
    cursor: initial
}

.GmamB {
    position: absolute;
    top: -8px;
    left: 8px;
    max-width: calc(100% - 16px);
    transform: translate(0, -100%)
}

.CVp61 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 11px;
    font-family: "MangoSans", sans-serif;
    line-height: 16px;
    letter-spacing: .3px;
    text-align: center
}

.LzXV7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 16px
}

.sBZEP {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px
}

.JzCbZ::after {
    display: block;
    width: 4px;
    height: 4px;
    margin: 0 auto;
    background: #d14900;
    border-radius: 2px;
    content: ""
}

.S6HFB {
    color: #aaa !important
}

.S6HFB:hover,
.S6HFB:active,
.S6HFB:focus {
    background-color: rgba(0, 0, 0, 0) !important
}

.VS4ht:hover,
.VS4ht:active,
.VS4ht:focus {
    background-color: #f3f3f3 !important
}

.vuVlL {
    margin: 0;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    cursor: pointer
}

.vuVlL:hover,
.vuVlL:active,
.vuVlL:focus {
    background-color: #f3f3f3;
    outline: none
}

.vuVlL:disabled {
    cursor: auto;
    cursor: initial
}

.Fl9we {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
    margin-right: 8px
}

.Iisij {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 20px
}

.akOic {
    text-align: left
}

.columns2 .A49oW {
    height: calc((((((100vw) * 70) / 100) / 2) - 2.25vw)/.715)
}

@media(min-width: 2560px) {
    .columns2 .A49oW {
        height: calc((((((2560px - 17px) * 70) / 100) / 2) - 2.25vw)/.715)
    }
}

.columns4 .A49oW {
    height: calc((((((100vw) * 100) / 100) / 4) - 1.13vw)/.715)
}

@media(min-width: 2560px) {
    .columns4 .A49oW {
        height: calc((((((2560px - 17px) * 100) / 100) / 4) - 1.13vw)/.715)
    }
}

.j2fYc {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%
}

.j2fYc video {
    width: 100%
}

.hauUH {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 240px;
    text-align: center
}

.BZC8g {
    margin-bottom: 16px
}

.OKr6_ {
    margin-bottom: 32px
}

.BjXOD {
    width: 100%;
    max-width: 360px
}

.eexK1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .6
}

.pIEuQ {
    display: inline-flex;
    align-items: center;
    height: 48px;
    margin-right: 12px;
    padding-right: 12px;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    cursor: pointer
}

.bYf8k {
    margin-right: 8px;
    color: #121314;
    font-size: 24px
}

.YrhC6 {
    position: absolute;
    top: 48px;
    left: 50%;
    z-index: 1001;
    display: none;
    width: 100vw;
    margin-left: -50vw;
    background-color: #fff;
    border-bottom: 1px solid #d7d7d8;
    cursor: auto;
    cursor: initial
}

.UPvvs {
    display: flex
}

.eypOO {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 16px 32px 32px
}

.TPLGW {
    display: flex;
    gap: 48px
}

.WMkDw {
    position: absolute !important;
    width: 204px !important;
    padding: 0 32px !important
}

.WMkDw {
    right: 0;
    bottom: 0;
    margin: 32px
}

.GIKoo {
    position: absolute;
    top: 48px;
    left: 50%;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    margin-left: -50vw;
    background-color: rgba(0, 0, 0, .4)
}

.Kt3z3 {
    margin-top: 24px
}

.TZZZd {
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border: 0
}

.TZZZd:hover {
    cursor: pointer
}

.Sgkwm {
    position: relative;
    flex: 1;
    overflow-x: hidden
}

.bmdBA {
    visibility: hidden
}

.iVcI4 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0
}

.N4Gm0 {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none
}

.kaHAU {
    margin: 0 0 16px;
    text-transform: uppercase
}

.NsVuC {
    margin: 0
}

.dHHY6 {
    display: flex
}

.Ssqqx {
    position: absolute;
    width: 0;
    height: 0;
    cursor: pointer;
    opacity: 0
}

.O5CeD {
    position: absolute;
    color: #aaa;
    font-size: 24px
}

.ny1Cc {
    color: #121314
}

.g5g39 {
    line-height: 27px !important
}

.g5g39 {
    z-index: 1;
    padding-left: 24px;
    cursor: pointer
}

.t1KTe {
    margin: 0
}

.h0jMQ {
    margin: 0 0 16px;
    text-transform: uppercase
}

.udCGc {
    display: flex;
    flex-direction: column;
    margin: 0 24px 0 0;
    padding: 0
}

.hyj6P {
    display: flex;
    align-items: center
}

.hyj6P:hover,
.hyj6P:active,
.hyj6P:focus {
    text-decoration: none;
    outline: none
}

.hyj6P input[type=radio] {
    display: none
}

.aTCa7 {
    line-height: 27px !important
}

.aTCa7 {
    z-index: 1;
    padding-left: 36px;
    cursor: pointer
}

.icon-outline-toogle-radio,
.icon-outline-toogle-radio-on {
    position: absolute;
    font-size: 24px
}

.JPw18 {
    margin: 0 0 16px;
    text-transform: uppercase
}

.LSj3v {
    margin-right: 24px
}

.input-range {
    position: relative;
    width: 128px;
    height: 15px;
    margin: 15px 0
}

.input-range__track {
    position: relative;
    display: block;
    height: 2px;
    background: #aaa;
    cursor: pointer
}

.input-range__track--background {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0
}

.input-range__track--active {
    background: #aaa
}

.input-range__slider {
    position: absolute;
    top: 50%;
    display: block;
    width: 8px;
    height: 8px;
    margin-top: -5px;
    background: #666;
    border: 1px solid #666;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: transform .3s ease-out, box-shadow .3s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.input-range__label {
    color: #121314;
    font-weight: 300;
    font-size: 13px;
    font-family: "MangoSans", sans-serif;
    letter-spacing: .3px;
    white-space: nowrap;
    transform: translateZ(0)
}

.input-range__label--min {
    display: none
}

.input-range__label--max {
    display: none
}

.input-range__label--value {
    position: absolute;
    top: 10px
}

.input-range__label-container {
    position: relative;
    top: -1px;
    left: -1px
}

.input-range__track .input-range__slider-container:last-child .input-range__label-container {
    left: -6px
}

.k7kMk {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none
}

.CdEof {
    margin: 0 0 1px;
    text-transform: uppercase
}

.sWccx {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 100px;
    overflow-x: hidden
}

.PaWjD {
    display: none
}

.EFvwW {
    display: flex;
    align-items: center;
    margin-right: 8px;
    padding: 6px 6px 6px 8px;
    white-space: nowrap;
    background-color: #fafafa;
    border-radius: 16px
}

.oSH1T {
    margin: 0;
    padding: 0 0 0 8px;
    background: none;
    border: none;
    cursor: pointer
}

.A8dr3 {
    position: relative;
    flex: 1;
    overflow-x: hidden
}

.Xb3uA,
.GuCOa {
    font-size: 24px;
    line-height: 32px;
    cursor: pointer
}

.Xb3uA {
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 56px;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 66%, #fff 100%)
}

.GuCOa {
    position: absolute;
    top: 0;
    right: 80px;
    padding-left: 56px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 66%, #fff 100%)
}

.F8FCn {
    position: relative;
    flex: 1;
    overflow-x: hidden
}

.HQRfn {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 100px;
    overflow-x: hidden
}

.X25LO {
    display: none
}

.b6mYO {
    padding-bottom: 34px
}

.Q9vc_ {
    margin: 0 0 16px;
    text-transform: uppercase
}

.zz27X {
    margin: 0;
    padding: 0
}

.zrYy_ {
    padding-left: 12px
}

.fvHNB {
    display: none
}

.hpuwQ {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 4px 0;
    padding: 0 16px 0 0;
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    border: 0
}

.hpuwQ:hover {
    color: #666;
    text-decoration: none;
    cursor: pointer
}

.hpuwQ:active,
.hpuwQ:focus {
    outline: none
}

.F8HoR {
    text-decoration: underline
}

.gZKQA:hover {
    color: #666
}

.HsD9h {
    position: absolute;
    top: -3000px
}

.JYy5e {
    position: absolute;
    top: 48px;
    left: -15%;
    z-index: 89;
    width: 15%;
    overflow-y: hidden;
    background-color: #fff;
    visibility: hidden;
    cursor: auto;
    cursor: initial;
    transition: left .3s ease-out, visibility .3s linear
}

.hQlmM {
    position: absolute;
    top: 48px;
    left: -15%;
    z-index: 90;
    width: 15%;
    height: 100vh;
    background-color: #fff;
    visibility: hidden;
    cursor: auto;
    cursor: initial;
    transition: visibility .35s linear
}

.BYHb9 .hQlmM {
    visibility: inherit
}

.BYHb9 .JYy5e {
    left: 0;
    visibility: inherit
}

.S0j_w:hover .JYy5e {
    left: 0
}

.cwM9z {
    display: inline-flex;
    align-items: center;
    height: 48px;
    margin-right: 12px;
    padding-right: 12px;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    cursor: pointer
}

.zEgy4 {
    width: 24px;
    height: 24px;
    margin-right: 8px
}

.N6FwI {
    height: auto !important
}

.N6FwI {
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding: 24px 0 0 30px
}

.bMAdD {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 32px
}

.NuddW {
    position: fixed;
    width: 100%;
    background-color: #fff
}

.scroll__block .vQMVV {
    display: none
}

.O5TtQ {
    position: fixed;
    right: 33px;
    bottom: 150px;
    z-index: -1;
    width: 33px;
    height: 33px;
    background: #121314;
    opacity: 0;
    transition: all .25s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.NrkSq {
    z-index: 99;
    opacity: 1
}

.lLLE1 {
    display: block;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background-color: #121314;
    border: 0
}

.lLLE1:hover,
.lLLE1:active,
.lLLE1:focus {
    text-decoration: none;
    outline: none;
    cursor: pointer
}

.Ho_Sq {
    position: absolute !important
}

.Ho_Sq {
    top: -1000px;
    clip: rect(1px 1px 1px 1px)
}

.Ho_Sq:focus {
    top: 0;
    left: 16px;
    width: 15%;
    clip: auto
}
